## Data Ingestion

In [60]:
# Importing all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib
import warnings
from sklearn.preprocessing import MinMaxScaler
from zipfile import ZipFile

Premilary Data Analysis

In [85]:
# Loading of File
path= r"C:\Users\user322\Downloads\wine+quality (2).zip"

In [86]:
def Load_Path(path):
    with ZipFile(path, 'r') as ref_zip:
        ref_zip.printdir()

In [89]:
Load_Path(path)

File Name                                             Modified             Size
winequality-red.csv                            2023-05-22 22:24:00        84199
winequality-white.csv                          2023-05-22 22:24:00       264426
winequality.names                              2023-05-22 22:24:00         3305

In [90]:
with ZipFile(path) as z:
    with z.open("winequality-white.csv") as f:
        wine=pd.read_csv(f, sep=";")

In [93]:
df=wine
df.head(6)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6

In [94]:
# checking out for the shape in the dataset
df.shape

(4898, 12)

In [95]:
# Checking out for missing values in the dataset
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [97]:
df.duplicated().sum()

np.int64(937)

In [101]:
# Verifying datatype and correct them if needed
df.dtypes
df['quality']=df['quality'].astype('float')
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                 float64
dtype: object

# Summary of all data cleaning action
1. I loaded the dataset given above
2. I display the first six rows of the dataset
3. I check out for missing values. This dataset does not have a missing value, therefore no data cleaning is done here.
4. There is no duplicate in this dataset
5. I corrected quality column from (int to float)

# Exploratory Data Analysis (EDA) and Scaling

In [122]:
def histogram_boxplot(df, feature, figsize=(15, 10), kde=False, bins=None):
    """
    Boxplot and histogram combined

    data: dataframe
    feature: dataframe column
    figsize: size of figure (default (15,10))
    kde: whether to show the density curve (default False)
    bins: number of bins for histogram (default None)
    """
    f2, (ax_box2, ax_hist2) = plt.subplots(
        nrows=2,  # Number of rows of the subplot grid= 2
        sharex=True,  # x-axis will be shared among all subplots
        gridspec_kw={"height_ratios": (0.25, 0.75)},
        figsize=figsize,
    )  # creating the 2 subplots
    sns.boxplot(
        data=df, x=feature, ax=ax_box2, showmeans=True, color="violet"
    )  # boxplot will be created and a triangle will indicate the mean value of the column
    sns.histplot(
        data=df, x=feature, kde=kde, ax=ax_hist2, bins=bins
    ) if bins else sns.histplot(
        data=df, x=feature, kde=kde, ax=ax_hist2
    )  # For histogram
    ax_hist2.axvline(
        df[feature].mean(), color="green", linestyle="--"
    )  # Add mean to the histogram
    ax_hist2.axvline(
        df[feature].median(), color="black", linestyle="-"
    )  # Add median to the histogram

In [124]:
# histogram_boxplot(df, 'fixed acidity', kde=True, bins=15)

In [112]:
# df["quality"]= df["quality"].replace(9: "Best", 8: "Best", 7: "Good", 6: "Good", 5: "Average", 4: "Bad", 3:"Bad")

In [ ]:
# First_Level_Spliting
x= df.drop('quality')
y= df.quality

In [ ]:
scaler= (x_train, x_test, y_train, y_test)
x_scaled = (scaler.fit_transform)